/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: #555;
  font-size: 1em;
  line-height: 1.4;
  background-color: #ccc;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #000;
  padding: 15px;
  color: #fff;
  text-align: center;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden, .hide,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* =============================
Color themes
=============================== */
header {
  background-color: #555;
  color: #fff;
}

#fake-logo {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000;
  text-transform: uppercase;
}

.container, main {
  max-width: 1200px;
  margin: 0 auto;
}

#main-nav {
  padding: 15px;
}

#main-nav-toggle-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0044cc;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  text-shadow: none;
  font-size: 1.1em;
  /*
  &[aria-expanded="true"] > .nav-hamburger > .nav-hamburger__line:first-of-type {
    height:20px;
    background-color: transparent;
    border:2px solid #fff;
  }

  &[aria-expanded="true"] > .nav-hamburger > .nav-hamburger__line:nth-child(2),
  &[aria-expanded="true"] > .nav-hamburger > .nav-hamburger__line:nth-child(3) {
    opacity: 0;
    margin:0;
    height:0;
  }
  */
}
#main-nav-toggle-btn:hover, #main-nav-toggle-btn:active, #main-nav-toggle-btn:focus, #main-nav-toggle-btn[aria-expanded=true] {
  background-color: #1a66ff;
}
#main-nav-toggle-btn[aria-expanded=true] > .nav-hamburger {
  transform: rotateZ(-90deg);
  bottom: -0.1em;
}
#main-nav-toggle-btn[aria-expanded=true] > .nav-hamburger > .nav-hamburger__line:first-of-type {
  height: 6px;
}
#main-nav-toggle-btn[aria-expanded=true] > .nav-hamburger > .nav-hamburger__line:nth-child(2) {
  background-color: transparent;
  border: 2px solid #fff;
  height: 14px;
  margin: 0;
}
#main-nav-toggle-btn[aria-expanded=true] > .nav-hamburger > .nav-hamburger__line:nth-child(3) {
  opacity: 0;
  margin: 0;
  height: 0;
}

.nav-hamburger {
  display: inline-block;
  width: 1.15em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  transition: all 0.2s;
  position: relative;
}

.nav-hamburger__line:first-of-type {
  margin-top: 0;
}

.nav-hamburger__line {
  display: block;
  background-color: #fff;
  margin-top: 0.25em;
  height: 2px;
}

#main-nav-panel-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9000;
}

#main-nav-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
  max-width: max-content;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 2em;
  padding-top: 55px;
  box-shadow: 0 8px 8px -4px black;
  transition: all 350ms ease-in-out;
  z-index: 1;
}
#main-nav-panel ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}
#main-nav-panel > ul {
  padding-left: 0;
}
#main-nav-panel ul > li {
  margin: 0;
}
#main-nav-panel ul > li:first-of-type {
  border-top: 0;
}
#main-nav-panel a {
  color: #0044cc;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ccc;
}
#main-nav-panel a:hover, #main-nav-panel a:focus, #main-nav-panel a:active, #main-nav-panel a.active {
  background-color: #1a66ff;
  border-radius: 3px;
  padding-left: 20px;
  color: #fff;
}

#main-nav-panel.closed {
  transform: translateX(-100%);
  opacity: 0;
}

#main-nav-panel.open {
  transform: translateX(0);
  opacity: 1;
}

#main-nav-close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 17px;
  transition: all 150ms;
  border: 1px solid transparent;
  border-radius: 7px;
  text-align: middle;
}
#main-nav-close:before, #main-nav-close:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  display: block;
  width: 2px;
  height: 25px;
  background-color: #555;
  transition: all 150ms;
}
#main-nav-close:before {
  transform: rotate(45deg);
}
#main-nav-close:after {
  transform: rotate(-45deg);
}
#main-nav-close:hover, #main-nav-close:active, #main-nav-close:focus {
  background-color: #0044cc;
  border-color: #ccc;
}
#main-nav-close:hover:before, #main-nav-close:active:before, #main-nav-close:focus:before, #main-nav-close:hover:after, #main-nav-close:active:after, #main-nav-close:focus:after {
  background-color: #fff;
}

#main-nav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 150ms ease-in-out;
}

#main-nav-panel.closed + #main-nav-bg {
  opacity: 0;
}

#main-nav-panel.open + #main-nav-bg {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
